@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --font-inter: "Inter", sans-serif;
  --font-pretendard: "Noto Sans KR", "Pretendard", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-inter), var(--font-pretendard), sans-serif;
}
